body {
	background: #2B2B2B;
	color: white;
}

/*control the header*/
#header{
	background-color: #F6F6F6;
	text-align: center;
	color: black;
	border-bottom: solid #DE1B1B 10px;
	border-top: solid #DE1B1B 5px;
	height: 250px;
}

#header h1{
	font-size: 55px;
}

#header h3{
	font-size: 30px;
	margin-top: 10px;
}

/*image added when a location is selected*/
#imgChicago{
	top: 50px;
	left: 70px;
	position: absolute;
	width: 10%;

}

#imgNY{
	top: 50px;
	left: 70px;
	position: absolute;
	width: 10%;
}

#imgSF{
	top: 50px;
	left: 70px;
	position: absolute;
	width: 10%;
}

/*div that include the drop down location menu*/
#locationMenu{
	
	margin-top: 20px;
	right:0;
	margin-left: auto;
	margin-right: auto;
}

/*Control the location drop down menu*/

.myMenu{
	margin-left:160px;
}

.myMenu li {
	list-style:none;
	float:left;
	font-size: 20px;
	font-weight:bold;
	color: black;
	text-decoration:none;
	background-color:#F6F6F6;
	padding: 10px 30px;
	border-right: 1px solid #2B2B2B;
}

.myMenu li a:hover {
	background-color:#E9E581;	
}

/*style the sub menu of location drop down menu*/
.myMenu li ul {
	position:absolute;
	border-top:1px solid #2B2B2B;
	margin-top: 11px;
	padding:0;
}

.myMenu li ul li {
	float:none;
	background-color:#F6F6F6;
	width:auto;
}

.myMenu li ul li:hover {
	background-color:#E9E581;	
}

/*Div that include the drop down pizza type menu*/
#pizzeria{
	margin-top: 100px;
	margin-left: 200px;
}

#pizzeria h1{
	font-size: 45px;
}

#pizzeria h3{
	font-size: 30px;
}

#pizzeria p{
	font-size: 20px;
	font-weight:bold;
	margin-top:-20px;
}

#phone{
	font-size: 20px;
}

#address{
	font-size: 20px;
}

/*Style the pizza menu*/
.myPizza {
	margin:0;
	padding:0;
}

.myPizza li {
	list-style:none;
	float:left;
	font-size: 20px;
	font-weight:bold;
	color: black;
	text-decoration:none;
	background-color:#F6F6F6;
	padding: 10px 30px;
	border-right: 1px solid #2B2B2B;
}

.myPizza li:hover {
	background-color:#E9E581;	
}

/*style the sub menu of pizza*/
.myPizza li ul {
	position:absolute;
	border-top:1px solid #2B2B2B;
	margin-top: 11px;
	padding:0;
}

.myPizza li ul li {
	float:none;
	background-color:#F6F6F6;
	width:auto;

}

.myPizza li ul li:hover {
	background-color:#E9E581;
}

/*control the description div that contain info on selected pizza*/
#description{
	clear: both;
	margin-top: 200px;
	margin-left: 200px;
	font-size: 30px;
	color:#9932CC;
/*	color:#9B30FF;*/
}

#pizzaName{
	font-style: oblique;
}

